.custom-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 8px;
    border: 1px solid rgb(222, 226, 230);
  }
  
  .custom-table th {
    font-weight: 700;
  }
  